<!-- Header -->
<% include template/view_header %>
<!-- /Header -->
	
	<!-- Container Starts -->
	<div class="container-fluid">
		
		<center><h1>Welcome To Stock Management</h1></center>
		<!-- menu -->
			<% include template/view_menu %>
		<!-- /menu -->
		<center><h4>Add New Product</h4></center>

		<form action="" method="POST" class="form-inline">
			
			
		</form>

		
	</div>
	<!-- Container Ends -->

<!-- Footer -->
<% include template/view_footer %>
<!-- /Footer -->
