<hr>
<div class="text-right">
    <a href="#" class="btn btn-success">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Sell Product
    </a>
    <a href="product_info/create" class="btn btn-info">
        <i class="fa fa-plus" aria-hidden="true"></i> Add New Product
    </a>
    <a href="#" class="btn btn-danger">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Stock
    </a>
</div>
<hr>